@import url('https://fonts.googleapis.com/css?family=Poppins:200,300.400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #518cca;
    transition: 0.5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #fff;
    font-size: 3em;
    line-height: .7em;
    text-transform: uppercase;
}

.content .textBox h5 {
    color: #1e1e1e;
    font-size: 1em;
    text-transform: uppercase;
}

.content .textBox p {
    color: #fff;
    padding-top: 20px;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox {
    width: 600px;
    display: flex;
    padding-right: 100px;
    margin-top: 50px;
    justify-content: flex-end;
}

.content .imgBox img {
    max-height: 320px;
}

.thumb {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateX(-10px);
}

.thumb li img {
    max-height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.links li {
    list-style: none;
}

.links li a {
    display: inline-block;
    filter: invert(1);
}

.links li a img {
    max-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
}